* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

#main-container {
    width: 100%;
    min-height: 100vh;
    background-color: #F3F5FA;
}

.hide-mobile {
    display: none !important;
}

@media screen and (min-width: 1024px) {
    .hide-mobile {
        display: revert !important;
    }
}

.hide-desktop {
    display: revert !important;
}

@media screen and (min-width: 1024px) {
    .hide-desktop {
        display: none !important;
    }
}